<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/incaltaminte</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">elefant123</property>
        <property name="dialect">org.hibernate.dialect.DB2400Dialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <!-- DB schema will be updated if needed -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="Tables.Admin" />
        <mapping class="Tables.Angajat"/>
        <mapping class="Tables.Card"/>
        <mapping class="Tables.Comanda"/>
        <mapping class="Tables.Produs"/>
        <mapping class="Tables.Retur"/>
        <mapping class="Tables.Review"/>
        <mapping class="Tables.User"/>
        <mapping class="Tables.Client"/>


    </session-factory>
</hibernate-configuration>